@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  font-family: Outfit ;
  background: $lightGray;
}

.container{
    margin: 80px 12px 80px 12px;
    border-radius: 25px;
    background: $whiteQr;
    height: 500px;

    &__img{
        width: 100px;
        height: 100px;
        margin: auto;
        margin-top: 12px;
        $--qr{
            border-radius: 25px;
        }

    }
}
