@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  font-family: Outfit ;
  background: $lightGray;
}

.container{
    margin: 80px 25px 80px 25px;
    border-radius: 20px;
    background: $whiteQr;
    height: 510px;

    &__img{
        width: 270px;
        height: 270px;
        margin: auto;
        margin-top: 15px;
        &--qr{
            border-radius: 10px;
        }

    }
}