@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  font-family: Outfit ;
  background: $lightGray;
}

.container{
    align-items:center;
    margin: 80px 25px 80px 25px;
    border-radius: 20px;
    background: $whiteQr;
    height: 500px;
    width: 330px;

    &__heading{
        padding-top: 20px;
        padding-left:5px ;
        padding-right: 5px ;
        &--txt{
            text-align: center;
            font-weight: 700;
            font-size: 25px;
        }
    }
    &__text{
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        &--plaintext{
            
            text-align: center;
            font-weight: 400;
            font-size: 15px;
        }
    }
    &__img{
        width: 300px;
        height: 300px;
        margin: auto;
        margin-top: 15px;
        &--qr{
            border-radius: 10px;
        }

    }
}